//include poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
//include nunito
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
//include mulish
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

.payment-success-page-wrapper .payment-success-page .card-repition .process {
  display: none !important;
}
.delivery-page-wrapper
  .deliverypage
  .container-delivery
  .form-and-total-price
  .top-form
  .form
  form
  .name-surname
  .leftname
  select,
.delivery-page-wrapper
  .deliverypage
  .container-delivery
  .form-and-total-price
  .top-form
  .form
  form
  .name-surname
  .rightsurname
  select,
.delivery-page-wrapper
  .deliverypage
  .container-delivery
  .form-and-total-price
  .top-form
  .form
  form
  .name-surname
  .rightname
  select,
.delivery-page-wrapper
  .deliverypage
  .container-delivery
  .form-and-total-price
  .top-form
  .form
  form
  .apartment-adress
  .leftname
  select,
.delivery-page-wrapper
  .deliverypage
  .container-delivery
  .form-and-total-price
  .top-form
  .form
  form
  .apartment-adress
  .rightsurname
  select,
.delivery-page-wrapper
  .deliverypage
  .container-delivery
  .form-and-total-price
  .top-form
  .form
  form
  .apartment-adress
  .rightname
  select,
.delivery-page-wrapper
  .deliverypage
  .container-delivery
  .form-and-total-price
  .top-form
  .form
  form
  .zipcode-city
  .leftname
  select,
.delivery-page-wrapper
  .deliverypage
  .container-delivery
  .form-and-total-price
  .top-form
  .form
  form
  .zipcode-city
  .rightsurname
  select,
.delivery-page-wrapper
  .deliverypage
  .container-delivery
  .form-and-total-price
  .top-form
  .form
  form
  .zipcode-city
  .rightname
  select {
  background-position: 97% !important;
}

.blog-inner-page-wrapper .inner-page-blog .top-description-blog .author-and-views .view {
  display: none !important;
}
.blog-inner-page-wrapper .inner-page-blog .top-description-blog .author-and-views .dot {
  display: none !important;
}
.blog-page-wrapper .blog-page .blogs .grid-blogs .item-blog {
  width: 100% !important;
}
.footer-wrapper .footer .footer-contents .right-footer .subscribe-button p {
  display: none !important;
}
.product-page-wrapper .products-page .container-products .filter .filter-relations .price-placement .filter-for-colors {
  display: none !important;
}
.product-page-wrapper .products-page .container-products .filter .filter-relations .price-placement .range {
  display: none !important;
}
.product-inner-page-wrapper
  .productinnerpage
  .similiar-products
  .carouselsimiliar-products
  .swiper-slide
  .item-details
  .category-name {
  display: none !important;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  background-color: rgb(96, 255, 125) !important;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}
@mixin AnimatePage {
  animation: animatePage 200ms ease-in-out forwards normal;
  @keyframes animatePage {
    from {
      transform: translateY(2px) scale(0.9999);
    }
    to {
      transform: translateY(0) scale(1);
    }
  }
}

.no-product-title {
  font-size: 14px;
  font-weight: 300;
  margin-top: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  &::selection {
    color: rgb(0, 0, 0);
    background-color: rgb(215, 202, 255);
  }
}
mark {
  color: #fafafa;
  background-color: rgb(31, 31, 31);
}

$hovercolor: #205a23;

.app {
  overflow-x: hidden !important;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  background: #ffffff;
  .navigation-shower {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    margin-top: 29px;
    .prevpage {
      color: #000000;
      font-weight: 400;
      font-size: 15px;
    }
    .nowpage {
      color: #43b749;
      font-weight: 400;
      font-size: 15px;
    }
    .slash {
      color: #43b749;
      font-weight: 400;
      font-size: 15px;
    }
  }

  // CATALOG
  .catalog-toggle-menu-overlay {
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transform: translateY(-10px);
    transition: all 200ms ease-in-out;
    position: absolute;
    z-index: 2000;
    top: 150px;
    width: 100%;
    max-height: 85vh;
    min-height: 85vh;
    background-color: rgba(19, 19, 19, 0.636);

    .toggle-catalog-menu {
      width: 90%;
      max-width: 1440px;
      margin: auto;
      min-height: 85vh;
      max-height: 85vh;
      height: 100%;
      background-color: rgb(246, 246, 246);
      padding: 12px;
      display: flex;
      align-items: flex-start;
      gap: 24px;
      justify-content: flex-start;
      .main-categories {
        width: 350px;
        max-height: 80vh;
        min-height: 80vh;
        overflow-y: auto;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        border-right: 1px solid rgba(32, 75, 39, 0.224);
        padding-right: 12px;
        gap: 4px;
        span {
          text-align: start;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 6px 6px;
          width: 100%;
          color: black;
          font-weight: 500;
          font-size: 16px;
          background-color: transparent;
          border: 1px solid rgba(151, 185, 154, 0.208);
          border-radius: 4px;
          cursor: auto;
          transition: 100ms ease-in-out;
          &:hover {
            background-color: rgb(232, 255, 234);
            border: 1px solid transparent;
          }
          &.actived-cat {
            background-color: rgb(122, 243, 122);
          }
        }
      }

      .right-sub-categories-container {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        display: grid;
        justify-items: flex-start;
        align-items: flex-start;
        gap: 12px;
        grid-template-columns: repeat(5, 1fr);
        .links-categories {
          width: 100%;
          height: auto;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          background-color: rgb(241, 241, 241);
          padding: 12px;
          gap: 8px;
          a {
            color: black;
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            transition: 100ms ease-in-out;
            &:hover {
              color: $hovercolor;
            }
          }

          .other-links {
            width: 100%;
            height: auto;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            .inner-child-link {
              color: #505050;
              font-size: 15px;
              font-weight: 400;
              transition: 100ms ease-in-out;
              &:hover {
                color: rgba(83, 184, 83, 0.532);
              }
            }
          }
        }
      }
    }

    &.active {
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
      user-select: auto;
    }
  }
}

//none overflow text code mixin
@mixin noneOverflow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

//flexible short mixin
@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

//none default font
@mixin Nunito {
  font-family: "Nunito Sans", sans-serif;
}

@mixin Mulish {
  font-family: "Mulish", sans-serif;
}

// LOADER STYLE
$border-top-color_1: rgb(57, 190, 57);

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.loader-container {
  width: 100%;
  height: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
  margin-bottom: 300px;
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    &::after {
      content: "";
      width: 50px;
      height: 50px;
      border: 15px solid #dddddd;
      border-top-color: $border-top-color_1;
      border-radius: 50%;
      animation: loading 0.75s ease-out infinite;
    }
  }
}

// ERROR STYLE
.error-container {
  width: 100%;
  height: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  .error {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    h1 {
      max-width: 500px;
      text-align: center;
      font-size: 16px;
      color: #ad6970;
      width: 100%;
    }
    .error-face {
      font-size: 100px;
      color: rgb(169, 104, 104);
    }
  }
}

.overlay
  .login-menu-wrapper
  .login-menu
  .register-variant
  .register-form
  form
  button[type="submit"]
  .loader-container
  .loader {
  width: 30px;
  height: 30px;
}
.overlay
  .login-menu-wrapper
  .login-menu
  .register-variant
  .register-form
  form
  button[type="submit"]
  .loader-container
  .loader::after {
  width: 24px;
  height: 24px;
  border: 4px solid #dddddd;
}

.overlay
  .login-menu-wrapper
  .login-menu
  .login-variant
  .register-form
  form
  button[type="submit"]
  .loader-container
  .loader {
  width: 30px;
  height: 30px;
}
.overlay
  .login-menu-wrapper
  .login-menu
  .login-variant
  .register-form
  form
  button[type="submit"]
  .loader-container
  .loader::after {
  width: 24px;
  height: 24px;
  border: 4px solid #dddddd;
}

.overlay {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(67, 166, 37, 0.162);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transform: translateX(1000px);
  transition: all 550ms ease-in-out;

  // LOGIN MENU STYLE
  .login-menu-wrapper {
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transform: translateX(1000px);
    transition: all 1000ms ease-in-out;
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100vh;
    background: #ffffff;
    width: 100%;
    max-width: 464px;
    z-index: 100000;

    .login-menu {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      // normal variant
      .normal-variant {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .head-area-modal {
          padding: 18px;
          position: fixed;
          z-index: 1000;
          width: 100%;
          background-color: transparent;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .close-icon {
            color: #000000;
            cursor: pointer;
            font-size: 32px;
            transition: 100ms ease-in-out;
            &:hover {
              color: #43b749;
            }
            &:active {
              transform: scale(0.96);
            }
          }
        }
        .login-and-register-buttons {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 24px;
          width: 100%;
          .login,
          .register {
            text-decoration: none;
            width: calc(100% - 52px);
            margin: auto;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border: none;
            outline: none;
            transition: 100ms ease-in-out;
            cursor: pointer;
            border-radius: 18px;
            border: 1px solid transparent;
            &:active {
              transform: scale(0.99);
            }
            &:nth-child(1) {
              background-color: #43b749;
              color: #ffffff;
              font-weight: 500;
              font-size: 20px;
              &:hover {
                background-color: transparent;
                border: 1px solid #43b749;
                color: #43b749;
              }
            }
            &:nth-child(2) {
              border: 1px solid #43b749;
              background-color: transparent;
              color: #43b749;
              font-weight: 500;
              font-size: 20px;
              &:hover {
                border: 2px solid #ffffff;
              }
            }
          }
        }
      }
      // register variant
      .register-variant {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        opacity: 0;
        pointer-events: none;
        user-select: none;
        transform: translateX(250px);
        transition: all 250ms ease-in-out;
        .head-area-modal {
          background-color: #010101;
          min-height: 74px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 18px;
          h3 {
            color: #ffffff;
            font-weight: 500;
            font-size: 26px;
          }
          .back-icon,
          .close-icon {
            color: #ffffff;
            cursor: pointer;
            font-size: 32px;
            transition: 100ms ease-in-out;
            &:hover {
              color: #43b749;
            }
            &:active {
              transform: scale(0.96);
            }
          }
        }
        &.active {
          opacity: 1;
          pointer-events: all;
          user-select: auto;
          transform: translateX(0);
        }

        .register-form {
          padding-top: 32px;
          padding-bottom: 58px;
          padding-left: 35px;
          padding-right: 35px;
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          form {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 16px;
            .field-input {
              width: 100%;
              height: auto;
              display: flex;
              position: relative;
              align-items: flex-start;
              justify-content: flex-start;
              flex-direction: column;
              gap: 8px;
              label {
                color: #000000;
                font-weight: 500;
                font-size: 16px;
              }
              input {
                width: 100%;
                height: 55px;
                border: 1px solid #cbcad7;
                background-color: transparent;
                padding-left: 15.5px;
                padding-right: 15.5px;
                border-radius: 18px;
                outline: none;
                transition: 100ms ease-in-out;
                cursor: pointer;
                &:focus {
                  border: 3px solid #43b749;
                }
                &::placeholder {
                  color: #6f6f6f;
                  font-weight: 400;
                  font-size: 16px;
                }
              }
              .eye {
                position: absolute;
                z-index: 10;
                right: 0;
                top: 53px;
                font-size: 18px;
                cursor: pointer;
                color: #49475a;
                right: 20px;
                &:active {
                  transform: translateY(1px);
                }
              }
            }
            .field-input-check {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              flex-direction: column;
              .check {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 8px;
                input[type="checkbox"] {
                  width: 18px;
                  height: 18px;
                  border-radius: 6px;
                  border: 1px solid #81807f;
                }
                label {
                  color: #81807f;
                  font-weight: 400;
                  font-size: 12px;
                  a {
                    color: #2178d6;
                    font-weight: 400;
                    font-size: 12px;
                  }
                }
              }
            }
            button[type="submit"] {
              margin-top: 28px;
              width: 100%;
              height: 48px;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              background-color: #43b749;
              border-radius: 18px;
              outline: none;
              color: #ffffff;
              font-weight: 400;
              font-size: 16px;
              transition: 100ms ease-in-out;
              border: none;
              cursor: pointer;
              &:hover {
                background-color: transparent;
                border: 1px solid #43b749;
                color: #43b749;
              }
            }
            .already-account-question {
              width: 100%;
              height: auto;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: 24px;
              gap: 9px;
              span {
                color: #141414;
                font-weight: 400;
                font-size: 16px;
              }
              .a {
                color: #43b749;
                font-weight: 500;
                text-decoration: none;
                font-size: 16px;
              }
            }
          }
        }
      }
      // login variant
      .login-variant {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        opacity: 0;
        pointer-events: none;
        user-select: none;
        transform: translateX(250px);
        transition: all 250ms ease-in-out;
        .head-area-modal {
          background-color: #010101;
          min-height: 74px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 18px;
          h3 {
            color: #ffffff;
            font-weight: 500;
            font-size: 26px;
          }
          .back-icon,
          .close-icon {
            color: #ffffff;
            cursor: pointer;
            font-size: 32px;
            transition: 100ms ease-in-out;
            &:hover {
              color: #43b749;
            }
            &:active {
              transform: scale(0.96);
            }
          }
        }
        &.active {
          opacity: 1;
          pointer-events: all;
          user-select: auto;
          transform: translateX(0);
        }

        .register-form {
          padding-top: 32px;
          padding-bottom: 58px;
          padding-left: 35px;
          padding-right: 35px;
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          form {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 16px;
            .field-input {
              width: 100%;
              height: auto;
              display: flex;
              position: relative;
              align-items: flex-start;
              justify-content: flex-start;
              flex-direction: column;
              gap: 8px;
              label {
                color: #000000;
                font-weight: 500;
                font-size: 16px;
              }
              input {
                width: 100%;
                height: 55px;
                border: 1px solid #cbcad7;
                background-color: transparent;
                padding-left: 15.5px;
                padding-right: 15.5px;
                border-radius: 18px;
                outline: none;
                transition: 100ms ease-in-out;
                cursor: pointer;
                &:focus {
                  border: 3px solid #43b749;
                }
                &::placeholder {
                  color: #6f6f6f;
                  font-weight: 400;
                  font-size: 16px;
                }
              }
              .eye {
                position: absolute;
                z-index: 10;
                right: 0;
                top: 53px;
                font-size: 18px;
                cursor: pointer;
                color: #49475a;
                right: 20px;
                &:active {
                  transform: translateY(1px);
                }
              }
            }
            .field-input-check {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              flex-direction: column;
              .check {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 8px;
                input[type="checkbox"] {
                  width: 18px;
                  height: 18px;
                  border-radius: 6px;
                  border: 1px solid #81807f;
                }
                label {
                  color: #81807f;
                  font-weight: 400;
                  font-size: 12px;
                  a {
                    color: #2178d6;
                    font-weight: 400;
                    font-size: 12px;
                  }
                }
              }
            }
            button[type="submit"] {
              margin-top: 28px;
              width: 100%;
              height: 48px;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              background-color: #43b749;
              border-radius: 18px;
              outline: none;
              color: #ffffff;
              font-weight: 400;
              font-size: 16px;
              transition: 100ms ease-in-out;
              border: none;
              cursor: pointer;
              &:hover {
                background-color: transparent;
                border: 1px solid #43b749;
                color: #43b749;
              }
            }
            .already-account-question {
              width: 100%;
              height: auto;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: 24px;
              gap: 9px;
              span {
                color: #141414;
                font-weight: 400;
                font-size: 16px;
              }
              .a {
                color: #43b749;
                font-weight: 500;
                text-decoration: none;
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    &.active {
      opacity: 1;
      pointer-events: all;
      user-select: auto;
      transform: translateX(0);
    }
  }
  &.active {
    opacity: 1;
    pointer-events: all;
    user-select: auto;
    transform: translateX(0);
  }
}
.error {
  color: red;
  font-size: 13px;
  padding-left: 15px;
}

@media only screen and (max-width: 568px) {
  .login-menu-wrapper {
    max-width: unset;
    width: 100%;
  }
}

.range-slider {
  position: relative;
  width: 100%;
  padding: 20px;
}

.image-modal-overlay {
  width: 100%;
  opacity: 0;
  pointer-events: none;
  min-height: 100vh;
  background-color: rgba(67, 166, 37, 0.162);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  z-index: 1000;
  z-index: 100000000;
  transition: all 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  .close-modal-icon {
    position: absolute;
    z-index: 10;
    top: 60px;
    right: 60px;
    font-size: 36px;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
  .image-modal {
    width: 800px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

    .swiper {
      width: 100%;
      user-select: none;
      height: 100%;
    }

    .swiper-slide {
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-button-prev {
      background-color: #ffffff;
      min-width: 45px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      &::after {
        content: "<";
        font-size: 32px;
        color: green;
      }
    }
    .swiper-button-next {
      background-color: #ffffff;
      min-width: 45px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      &::after {
        content: ">";
        font-size: 32px;
        color: green;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
  &.active {
    pointer-events: all;
    opacity: 1;
  }
}

.call-your-modal-overlay {
  width: 100%;
  opacity: 0;
  pointer-events: none;
  min-height: 100vh;
  background-color: rgba(67, 166, 37, 0.162);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  z-index: 1000;
  z-index: 100000000;
  transition: all 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  .call-your-modal {
    max-width: 655px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    padding: 32px 50px;
    gap: 30px;
    h1 {
      color: #000000;
      font-weight: 500;
      font-size: 36px;
      width: 100%;
      text-align: start;
    }
    .form {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: 24px;
      .field-input {
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        label {
          color: #000000;
          font-weight: 500;
          font-size: 16px;
        }
        input {
          width: 100%;
          height: 55px;
          border-radius: 18px;
          border: 1px solid #cbcad7;
          padding-left: 16px;
          padding-right: 16px;
          transition: 100ms ease-in-out;
          outline: none;
          background-color: transparent;
          &::placeholder {
            color: #6f6f6f;
            font-weight: 400;
            font-size: 16px;
          }
          &:focus {
            border: 1px solid #43b749;
          }
        }
      }
    }
    button {
      width: 100%;
      height: 55px;
      border-radius: 18px;
      background-color: #43b749;
      color: #ffffff;
      font-weight: 400;
      font-size: 16px;
      border: none;
      transition: 100ms ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: transparent;
        border: 1px solid #43b749;
        color: black;
      }
      &:active {
        transform: scale(0.99);
      }
    }
    .closebtn {
      position: absolute;
      right: 32px;
      top: 32px;
      cursor: pointer;
    }
  }
  &.active {
    pointer-events: all;
    opacity: 1;
  }
}

.thanks-page {
  margin-top: 180px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  .success {
    animation: successAnim 1.5s ease-in-out forwards normal;
    width: 88px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid #2db224;
    background-color: #2db2242c;
    @keyframes successAnim {
      from {
        opacity: 0;
        transform: scale(0.5) rotate(36deg);
      }
      to {
        opacity: 1;
        transform: scale(1) rotate(360deg);
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
  }

  .texts {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    h1 {
      color: #191c1f;
      font-weight: 600;
      font-size: 24px;
      text-align: center;
    }
    p {
      color: #5f6c72;
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      max-width: 424px;
    }
  }

  .home-btn {
    margin-top: calc(32px - 24px);
    max-width: 200px;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 2px solid #f94c10;
    border-radius: 2px;
    transition: all 200ms ease-in-out;
    text-decoration: none;
    img {
      width: 20px;
      height: 20px;
      transition: 200ms ease-in-out;
    }
    span {
      color: #f94c10;
      font-weight: 700;
      font-size: 14px;
      transition: 200ms ease-in-out;
    }
    &:hover {
      background-color: #f94c10;
      span {
        color: #fff;
        transform: translateX(-12px);
      }
      img {
        opacity: 0;
        transform: translateX(-24px);
      }
    }
  }
}

.homepage-wrapper .homepage .popular-products-wrapper .popular-products .container-with-popular-products .categories-filtering-items .subitem .item-details .product-name {
  @include noneOverflow();
  -webkit-line-clamp: 1;
  line-clamp: 1;
}
